  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <h1 class="header center grey-text" data-liogroup="intro" data-liotrigger="is_mark">Get The Daily Fuzzy, Mark.</h1>
      <h1 class="header center grey-text" data-liogroup="intro" data-liotrigger="is_member">Are you enjoying The Daily Fuzzy?</h1>
      <h1 class="header center grey-text" data-liogroup="intro" data-liotrigger="has_firstname"><span data-firstname>REPLACE</span>, get The Daily Fuzzy!</h1>
      <h1 class="header center grey-text" data-liogroup="intro" data-liotrigger="default">Get The Daily Fuzzy</h1>

      <div class="row center">
        <div data-liogroup="img" data-liotrigger="is_member"><img src="img/chicks.jpg"  width="500" alt=""></div>
        <div data-liogroup="img" data-liotrigger="is_mark"><img src="img/kitten.jpg"  width="500" alt=""></div>
        <div data-liogroup="img" data-liotrigger="smt_new"><img src="img/kitten.jpg"  width="500" alt=""></div>
        <div data-liogroup="img" data-liotrigger="default"><img src="img/rabbit.jpg"  width="500" alt=""></div>
        <h5 class="header col s12 light">Fuzzy goodness delivered to your inbox, daily.</h5>
      </div>

      <div class="row center">
        <a href="javascript:alert('this is a test')" class="btn-large green" data-liogroup="abc" data-liotrigger="is_member">Log In &amp; See Todays</a>
        <a href="javascript:alert('this is a test')" class="btn-large green" data-liogroup="abc" data-liotrigger="default">Sign Up &amp; See Todays</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center-align">
            <img class="circle responsive-img" width="150" src="img/email.jpg">
            <h5 class="center">In Your Inbox</h5>

            <p class="light">Puppy kitty ipsum dolor sit good dog wagging snowball birds. Kitten foot parakeet slobber feathers scratcher feeder fish dinnertime birds paws. Tuxedo park run fast smooshy bark wagging cage lazy dog aquatic.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center-align">
            <img class="circle responsive-img" width="150" src="img/animals.jpg">
            <h5 class="center">Because, Animals!</h5>

            <p class="light">Tuxedo commands slobbery grooming swimming scratch stay licks vaccine tuxedo hamster heel carrier field slobbery scratch. Roll Over cockatiel finch fur heel head brush ball swimming speak.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center-align">
            <img class="circle responsive-img" width="150" src="img/share.jpg">
            <h5 class="center">Share</h5>

            <p class="light">Rover left paw pet food good boy cage catch nest. Litter Box vaccine food tooth lick Mittens foot hamster water dog commands slobbery pet food meow toys parakeet fluffy whiskers fetch string paws stick meow ID tag park teeth litter mouse.</p>
          </div>
        </div>
      </div>
    </div>
  </div>