{{>site-navigation}}
  </nav>

  <div class="section no-pad-bot" id="index-banner">
  </div>

  <div class="container">
    <div class="section">
      <div class="col s12 center-align">
        <h2>Redirecting for user: <span data-firstname=""></span></h2>
        <p class="grey-text">You will be redirected in a few seconds. This page is a placeholder used only to give details on the redirect that is about to occur. In production this can be skipped entirely and hte experience as an end-user is seemless.</p>
        <h2 id="counter">5</h2>
      </div>

      <script>
        window.trigger_redirect = true;
        window.trigger_redirect_func = function(){
          var counter = 5
          setInterval(function() {
            counter--;
            $('#counter').html(counter);

            if(counter <= 0){
              if(window.lio.inSegment('is_member')){
                window.location.replace('/personalization-redirect_is_member.html');
              }else if(window.lio.inSegment('smt_new')){
                window.location.replace('/personalization-redirect_is_new.html');
              }else{
                window.location.replace('/personalization-redirect_default.html');
              }
            }
          }, 1000);
        }
      </script>
    </div>
  </div>