{{>site-navigation}}
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center grey-text">Hey <span data-firstname></span>, welcome back!</h1>
      <div class="row center">
        <a href="javascript:alert('this is a test')" class="btn purple">Log In</a>
      </div>

      <div class="row center">
        <div><img src="img/duck.jpg"  width="400" alt=""></div>
      </div>
    </div>
  </div>