  <footer class="page-footer green">
    <div class="footer-copyright">
      <div class="container">
        Made to demonstrate the power of <a href="http://getlytics.com">Lytics</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>