  <footer class="grey light-3">
    <div>
      <div class="container">
        <div class="row">
          <div class="col s6">A demonstration of the power of <a href="http://getlytics.com">Lytics</a></div>
          <div class="col s6 right-align">View on <a href="http://getlytics.com">Github</a></div>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>